body
  background-color: $basisKleur*1.4
header
  .navigation
    margin-bottom: 20px
    .nav-list
      height: $menuHoogte
      &__item
        width: 99% / $aantalLinkjes
        display: inline-block
        background-color: $navi
        border-bottom-color: $eersteKleur
        border-bottom-width: 5px
      &:hover
        border-bottom-color: $naviKleur
.url
  +border-radius(20px)

.main .url
  box-sizing: border-box
  width: 45%
